@import 'variables';
@import 'mixins';

.icon-button {
    background: none;
    padding: 0px;
    border: none;
}

.white-text-button {
    background: none;
    padding: 0px;
    border: none;
    color: $WHITE_COLOR;
    font-weight: bold;
}

.btn-height {
    max-height: $BTN_HEIGHT;
}

.nav-btn {
    border: 0px;
    background-color: transparent;
    color: $PRIMARY_COLOR;
    cursor: pointer;
}

.nav-btn:hover {
    text-decoration: none;
    color: $primary;
}

.thirty-days-button {
    @include text-control;
}

.logout-button {
    cursor: pointer;
    font-size: 1.8rem;
}
.hamburger {
    cursor: pointer;
    font-size: 2.5rem;
    color: $WHITE_COLOR;
}
.login-partial{
    margin-bottom: 0;
}
.add-main-category-btn{
    z-index: 2;
}