@import 'variables';

.card-chart-height {
    height: 100px;
}

.chart-height {
    max-height: 400px;
}

.pie-stats {
    min-height: 380px;
}

.summary-chart {
    min-width: 280px;

    @media (min-width: $SM_BREAKPOINT) {
        min-width: 0px;
    }
}

.monthly-progress-chart {
    max-height: 400px;
    min-height: 360px;
    min-width: 350px;

    @media (min-width: $SM_BREAKPOINT) {
        min-width: 300px;
    }
}

.overall-summary-chart {
    min-width: 375px;
    max-height: 400px;
    min-height: 360px;

    @media (min-width: $SM_BREAKPOINT) {
        min-width: 0px;
    }
}

.chart-width-full-xl-half {
    min-height: 340px;

    @media (min-width: $SM_BREAKPOINT) {
        min-height: 360px;
    }

    @media (min-width: $LG_BREAKPOINT) {
        min-height: 380px;
    }

    @media (min-width: $XL_BREAKPOINT) {
        min-height: 380px;
        max-height: 400px;
        min-width: 50%;
    }
}

.chart-width-full-xxl-half {
    min-height: 340px;

    @media (min-width: $SM_BREAKPOINT) {
        min-height: 360px;
    }

    @media (min-width: $LG_BREAKPOINT) {
        min-height: 380px;
    }

    @media (min-width: $XXL_BREAKPOINT) {
        min-height: 400px;
        max-height: 415px;
        min-width: 50%;
    }
}

.chart-full-width {
    min-height: 340px;

    @media (min-width: $SM_BREAKPOINT) {
        min-height: 360px;
    }

    @media (min-width: $LG_BREAKPOINT) {
        min-height: 380px;
    }

    @media (min-width: $XXL_BREAKPOINT) {
        min-height: 400px;
        max-height: 415px;
    }
}
