.transaction-column {
    min-width: 125px;
}

.file-column {
    min-width: 68px;
}

.last-purchase-column {
    min-width: 142px;
}

.in-use-column {
    min-width: 87px;
}

.main-category-column {
    min-width: 148px;
}

.amount-column {
    min-width: 100px;
}

.category-column {
    min-width: 108px;
}

.merchant-source-column {
    min-width: 174px;
}

.location-column {
    min-width: 105px;
}
.purchases-column {
    min-width: 117px;
}
.year-column{
    min-width: 75px;
}
.month-column {
    min-width: 90px;
}
.type-column {
    min-width: 80px;
}