@import '../node_modules/bootswatch/dist/flatly/_variables';

$MD_BREAKPOINT: 768px;
$PRIMARY_COLOR: $primary;
$SUCCESS_COLOR: $success;
$WHITE_COLOR: $white;
$TEXT_COLOR: $gray-900; 
$BTN_HEIGHT: 38px;
$ROW_HEIGHT: 34px;
$FONT_FAM: $font-family-sans-serif;
