tr {
    height: 34px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-height: 34px; 
    white-space: nowrap;
}
.payments-col {
    min-width: 117px;
}
.amount-col {
    min-width: 100px;
}
.last-payment-col {
    min-width: 142px;
}
.category-col {
    min-width: 108px;
}