@page
@using CashTrack.Models.ImportCsvModels
@model CashTrack.Pages.Settings.Index
@{
    ViewData["Title"] = "Settings";
    Layout = "_Layout";
}
                  <div class="modal fade" id="importCsvModal">
        @await Html.PartialAsync("_ImportTransactionsModal", new ImportModel() { ReturnUrl = "~/Import/Expenses" })
                  </div>
<div class="container mt-3">
    <form class="row mb-3" method="post">
        <div class="col-6">
            <div class="input-group">
                <div class="input-group-prepend d-none d-sm-block">
                    <div class="input-group-text">Export Data</div>
                </div>
                <select data-width="100%" asp-items="Model.ExportOptions" class="form-select text-center" id="exportOptions"
                        asp-for="ExportOption">
                </select>
                <button class="btn btn-secondary rounded-end" type="submit" asp-page-handler="Export">
                    <i class="bi bi-download icon-size-md text-white mx-3" role="img"></i>
                </button>
            </div>
        </div>
        <div class="col-4 d-flex" method="post">
            <div class="form-check me-3 d-flex align-items-center">
                <input class="form-check-input me-2" type="radio" asp-for="ExportAsReadable" value="false">
                <label asp-for="ExportAsReadable" class="form-check-label">Raw Data</label>
            </div>
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input me-2" type="radio" asp-for="ExportAsReadable" value="true">
                <label asp-for="ExportAsReadable" class="form-check-label">Readable Data</label>
            </div>
        </div>
    </form>
    <div class="row">
                <div>
                    <button class="btn btn-primary" type="button" id="importButton" data-bs-toggle="modal" data-bs-target="#importCsvModal">Import</button>
    </div>
</div>
</div>
@section Scripts {
    <script src="~/js/settings.js"></script>
}