@page
@using CashTrack.Models.Common
@model CashTrack.Pages.Expenses.Index
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <form action="post">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <select asp-for="QueryType" asp-items="Html.GetEnumSelectList<DateOptions>()" class="custom-select" name="queryType">
                        <option value="">Search</option>
                    </select>
                    <input type="date" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <button class="btn btn-primary">Last 30 Days</button>
                <button class="btn btn-primary">Current Month</button>
                <button class="btn btn-primary">Current Quarter</button>
                <button class="btn btn-primary">Current Year</button>
                <button class="btn btn-primary">Date Range</button>
            </div>
        </div>
    </form>
    @*  style="background-color: red;"*@
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>
                            Purchase Date
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Merchant
                        </th>
                        <th>
                            Sub Category
                        </th>
                        <th>
                            Main Category
                        </th>
                        <th>
                            Tags
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- begin fake data-->
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2/17/2021
                        </td>
                        <td>
                            $25.00
                        </td>
                        <td>
                            Costco
                        </td>
                        <td>
                            Groceries
                        </td>
                        <td>
                            Food
                        </td>
                        <td>
                            none
                        </td>
                    </tr>
                    <!-- end fake data -->
                </tbody>
            </table>
        </div>
    </div>
</div>
