@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Oops</h3>
<p>
    Looks like there was an error
</p>
<p>
    <strong>Sorry.</strong>
    This is just a demonstration site. These things happen.
</p>
<div class="d-none">@Model.ErrorMessage</div>