@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}
<div class="container">
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    <h3>Oops</h3>
    <p>
        Looks like there was an error
    </p>
    <p>
        <strong>Sorry. </strong> This is just a demonstration site. These things happen.
    </p>
    <div class="d-none">@Model.ErrorMessage</div>
    <div class="d-none">Request ID: @Model.RequestId</div>
</div>