@page
@model IndexModel
@{
    ViewData["Title"] = "";
    Layout = "_LayoutUnauthorized";
}
<div class="container">
    <h1>Welcome to CashTrack!</h1>
    <p>Here will be information about how to use the application.</p>
</div>