@page
@model CashTrack.Pages.Review.IncomeModel
@{
    Layout = "_Layout";
}
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a asp-page="./Expenses" class="nav-link">Expenses</a>
        </li>
        <li class="nav-item">
            <a asp-page="./Income" class="nav-link active">Income</a>
        </li>
    </ul>
    
</div>