.sub-category-table-header-row {
    height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 34px;
    white-space: nowrap;
}
/*
.main-category-column {
    min-width: 105px;
}

.purchases-column {
    min-width: 117px;
}

.last-purchase-column {
    min-width: 142px;
}

.in-use-column {
    min-width: 108px;
}
.notes-column {
    min-width: 108px;
}

.orderIcon:hover * {
    color: #18bc9c !important;
}
*/
