.brand {
    position: relative;
    left: -8px;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.logo {
    font-family: 'Bungee', cursive;
    font-size: calc(100% + .5vw + .7vh);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-background-color {
    position: absolute;
    z-index: -1; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    min-height: 100%;
    top: 0;
}