<div class="lds-spinner" id="loadingSpinner" style="position: absolute; right: 40%; bottom: 65%; z-index:1200;">
    <div>
    </div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div>