@using CashTrack.Data.Entities
@inject SignInManager<UserEntity> SignInManager

<li class="text-nowrap list-unstyled d-none d-md-block my-md-2 me-md-4">
    @if (!SignInManager.IsSignedIn(User))
    {
        <form method="post" asp-page="/Account/Logout" id="logoutForm">
            <button type="submit" class="icon-button spin-it">
                <i class="bi bi-box-arrow-right text-white logout-button"></i>
            </button>
        </form>
    }
    else
    {
        <a href="https://cashtrack.net" target="_blank"><i class="bi bi-box-arrow-right text-white logout-button"></i></a>
    }
</li>
<li class="text-nowrap list-unstyled d-block d-md-none">
    <button type="button" class="icon-button me-3" data-bs-toggle="offcanvas" data-bs-target="#offCanvasMenu">
        <i class="bi bi-list hamburger"></i>
    </button>
</li>



