@using CashTrack.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager


<li class="text-nowrap">
    @if (User.Identity.IsAuthenticated)
    {
        <span>Hello, @User.Identity.Name</span>
    }
    else
    {
        <a asp-page="/Login">Sign In</a>
    }
</li>
<li class="text-nowrap">
    <!-- icon -->
    <form asp-controller="Login" asp-action="Logout" method="post" id="logoutForm">
        <button type="submit" class="btn btn-secondary">Log Out</button>
    </form>
</li>