<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CASHTRACK @ViewData["Title"]</title>
    @await Html.PartialAsync("_Favicons")
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body class="login-page-background">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>