@using CashTrack.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

<li class="text-nowrap list-unstyled">
    <!-- icon -->
    <form method="post" asp-page="/Account/Logout" asp-route-returnurl="/" id="logoutForm">
        <button style="background: none; padding: 0px; border: none;" type="submit">
            <i class="bi bi-box-arrow-right text-white" role="img"
               style="font-size: 1.8rem;"></i>
        </button>
    </form>
</li>