@using CashTrack.Common;
<nav class="sidebar col-md-2 d-md-block collapse pe-3 pe-xl-4 ">
    <ul class="navbar-nav">
        
        <li class="nav-item mt-3 text-end">
            <button type="button" class="nav-btn px-0" data-bs-toggle="collapse" data-bs-target="#summaryLinks">
                <h4>
                    <span>Summary</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                        Icon = Icon.GraphUp,
                        Color = IconColors.Primary,
                        Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    })
                </h4>
            </button>
        </li>
        
        <li class="nav-item mt-1 text-end collapse" id="summaryLinks">
                <a asp-page="/Index" class="nav-link spin-it">
                <h6>
                    <span>Monthly</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Calendar3,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    })
                    </h6>
                </a>
                <a asp-page="/Annual" class="nav-link spin-it">
                <h6>
                    <span>Annually</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.BarChart,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                        }) 
                    </h6>
                </a>
                <a asp-page="/AllTime" class="nav-link spin-it">
                <h6>
                    <span>All Time</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.BarChartFill,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                        }) 
                    </h6>
                </a>
            </li>
            
            <li class="nav-item text-end mt-3">
                <button type="button" class="nav-btn px-0" data-bs-toggle="collapse" data-bs-target="#expensesLinks">
                    <h4>
                    <span class="">Expenses</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Receipt,
                    Color = IconColors.Primary,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                        })
                    </h4>
                </button>
            </li>
            
        <li class="nav-item text-end collapse" id="expensesLinks">
            <a asp-page="/Expenses/Index" class="nav-link spin-it">
                <h6>
                    <span>Expense List</span>
                @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Cardlist,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    })
                </h6>
            </a>
            <a asp-page="/Merchants/Index" class="nav-link spin-it">
                <h6>
                    <span>Merchants</span>
                 @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Shop,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    })
                </h6>
            </a>
            <a asp-page="/Expenses/Categories/Index" class="nav-link spin-it">
                <h6>
                    <span>Categories</span>
                 @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Diagram,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    }) 
                </h6>
            </a>
        </li>

        <li class="nav-item text-end mt-3">
            <button type="button" class="nav-btn px-0" data-bs-toggle="collapse" data-bs-target="#incomesLinks">
                <h4>
                    <span class="">Income</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.CashCoin,
                    Color = IconColors.Primary,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                        })
                </h4>
            </button>
        </li>

        <li class="nav-item text-end collapse" id="incomesLinks">
            <a asp-page="/Income/Index" class="nav-link spin-it">
                <h6>
                    <span>Income List</span>
                @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Cardlist,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    })
                </h6>
            </a>
            <a asp-page="/Sources/Index" class="nav-link spin-it">
                <h6>
                    <span>Sources</span>
                 @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Bank,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    })
                </h6>
            </a>
            <a asp-page="/Income/Categories/Index" class="nav-link spin-it">
                <h6>
                    <span>Categories</span>
                 @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Diagram,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    }) 
                </h6>
            </a>
        </li>

        <li class="nav-item text-end mt-3">
            <button type="button" class="nav-btn px-0" data-bs-toggle="collapse" data-bs-target="#budgetsLinks">
                <h4>
                    <span class="">Budget</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.PieChart,
                    Color = IconColors.Primary,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    })
                </h4>
            </button>
        </li>

        <li class="nav-item text-end collapse" id="budgetsLinks">
            <a asp-page="/Budget/Annual" class="nav-link spin-it">
                <h6>
                    <span>Annual</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.ChartLine,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    })
                </h6>
            </a>
            <a asp-page="/Budget/Monthly" class="nav-link spin-it">
                <h6>
                    <span>Monthly</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.CalendarCheck,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    })
                </h6>
            </a>
            <a asp-page="/Budget/List" class="nav-link spin-it">
                <h6>
                    <span>Budget List</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Cardlist,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    })
                </h6>
            </a>
        </li>

        <li class="nav-item text-end mt-3">
            <a asp-page="/Settings/Index" class="nav-link spin-it">
                <h4>
                    <span class="">Settings</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Gear,
                    Color = IconColors.Primary,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                    })
                </h4>
            </a>
        </li>
        
    </ul>
</nav>
