@using CashTrack.Common;
<nav class="sidebar col-md-2 d-md-block bg-light collapse">
    <ul class="navbar-nav">
        
        <li class="nav-item mt-3 align-items-center">
            <button type="button" class="nav-btn" data-bs-toggle="collapse" data-bs-target="#summaryLinks">
                <h4 class="text-center">
                    <span class="ms-md-1 ms-lg-2 ms-xl-4 ms-xxl-4">Summary</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.GraphUp,
                    Color = IconColors.Primary,
                    Height = 24,
                    Width = 24,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                        })
                </h4>
            </button>
        </li>
        
        <li class="nav-item mt-1 align-items-center collapse" id="summaryLinks">
                <a asp-page="/Index" class="nav-link spin-it">
                <h5 class="text-center">
                    <span>Monthly</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Calendar3,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                        })
                    </h5>
                </a>
                <a asp-page="/Annual" class="nav-link spin-it">
                <h5 class="text-center">
                    <span>Annually</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.BarChart,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                        }) 
                    </h5>
                </a>
                <a asp-page="/AllTime" class="nav-link spin-it">
                <h5 class="text-center">
                    <span>All Time</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.BarChartFill,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                        }) 
                    </h5>
                </a>
            </li>
            
            <li class="nav-item align-items-center mt-3">
                <button type="button" class="nav-btn" data-bs-toggle="collapse" data-bs-target="#expensesLinks">
                    <h4 class="text-center">
                    <span class="ms-md-1 ms-lg-2 ms-xl-4 ms-xxl-4">Expenses</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Receipt,
                    Color = IconColors.Primary,
                    Height = 24,
                    Width = 24,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                        })
                    </h4>
                </button>
            </li>
            
        <li class="nav-item align-items-center collapse" id="expensesLinks">
            <a asp-page="/Expenses/Index" class="nav-link spin-it">
                <h5 class="text-center">
                    <span>Expense List</span>
                @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Cardlist,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-4 d-none d-lg-inline-block"
                    })
                </h5>
            </a>
            <a asp-page="/Expenses/Merchants/Index" class="nav-link spin-it">
                <h5 class="text-center">
                    <span>Merchants</span>
                 @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Shop,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-4 d-none d-lg-inline-block"
                    })
                </h5>
            </a>
            <a asp-page="/Expenses/Categories/Index" class="nav-link spin-it">
                <h5 class="text-center">
                    <span>Categories</span>
                 @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.Diagram,
                    Color = IconColors.Primary,
                    Height = 22,
                    Width = 22,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-4 d-none d-lg-inline-block"
                    }) 
                </h5>
            </a>
        </li>

        <li class="nav-item align-items-center mt-3">
            <button type="button" class="nav-btn" data-bs-toggle="collapse" data-bs-target="#incomesLinks">
                <h4 class="text-center">
                    <span class="ms-md-1 ms-lg-2 ms-xl-4 ms-xxl-4">Income</span>
                    @await Html.PartialAsync("Icons", new Icons()
                    {
                    Icon = Icon.CashCoin,
                    Color = IconColors.Primary,
                    Height = 24,
                    Width = 24,
                    Classes="ms-lg-1 ms-xl-3 ms-xxl-5 d-none d-lg-inline-block"
                        })
                </h4>
            </button>
        </li>
        
    </ul>

@*
    <div class="nav sidebar-heading align-items-center">
        <div class="col-lg-9 col-md-6 nav-link pb-0">
            <button type="button" class="text-primary nav-btn">
                <a asp-page="/Monthly" class="text-primary spin-it">Dashboard</a>
            </button>
        </div>
        <div class="col-2">
            <button type="button" class="text-primary nav-btn" asp-page="/Index">
                <a asp-page="/Monthly">
                    <i class="bi bi-speedometer2 text-primary d-none d-xl-block icon-size-xl"></i>
                </a>
            </button>
        </div>
    </div>
    <div class="nav row sidebar-heading align-items-center">
        <div class="col-lg-9 col-md-6 nav-link pb-0">
            <button type="button" class="text-primary nav-btn" data-bs-toggle="collapse" data-bs-target="#expenseSubLinks">
                Expenses
            </button>
        </div>
        <div class="col-2 col-md-2 pb-0">
            <button type="button" class="text-primary nav-btn" data-bs-toggle="collapse" data-bs-target="#expenseSubLinks">
                <i class="bi bi-receipt-cutoff text-primary d-none d-xl-block icon-size-xl"></i>
            </button>
        </div>
        <div class="collapse mt-0" id="expenseSubLinks">
            <div class="mx-0 px-0">
                <div class="ms-xl-5 ms-lg-4 ms-md-3 nav-sub-link me-0 my-2 d-inline-flex align-content-center">
                    <i class="bi bi-card-list text-dark d-none d-xl-block font-weight-bold icon-size-md"></i>&nbsp;
                    <a class="text-dark spin-it" asp-page="/Expenses/Index">
                        Expense List
                    </a>
                </div>
                <div class="ms-xl-5 ms-lg-4 ms-md-3 nav-sub-link me-0 my-2 d-inline-flex align-content-center">
                    <i class="bi bi-shop text-dark d-none d-xl-block font-weight-bold icon-size-md"></i>&nbsp;
                    <a class="text-dark spin-it" asp-page="/Merchants/Index">
                        Merchants
                    </a>
                </div>
                <div class="ms-xl-5 ms-lg-4 ms-md-3 nav-sub-link me-0 my-2 d-inline-flex align-content-center">
                    <i class="bi bi-diagram-3 text-dark d-none d-xl-block font-weight-bold icon-size-md"></i>&nbsp;
                    <a class="text-dark spin-it" asp-page="/Expenses/Categories/Index">
                        Categories
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav row sidebar-heading align-items-center">
        <div class="col-lg-9 col-md-6 nav-link pb-0" data-bs-toggle="collapse" data-bs-target="#incomeSubLinks">
            <button type="button" class="text-primary nav-btn">
                Income
            </button>
        </div>
        <div class="col-2 pb-0" data-bs-toggle="collapse" data-bs-target="#incomeSubLinks">
            <button type="button" class="text-primary nav-btn" data-bs-toggle="collapse" data-bs-target="#incomeSubLinks">
                <i class="bi bi-cash-coin text-primary d-none d-xl-block icon-size-xl"></i>
            </button>
        </div>
        <div class="collapse" id="incomeSubLinks">
            <div class="mx-0 px-0">
                <div class="d-xl-inline-flex ms-xl-5 ms-lg-4 ms-md-3 nav-sub-link me-3 my-2  align-content-center">
                    <i class="bi bi-card-list text-dark d-none d-xl-block font-weight-bold icon-size-md"></i>&nbsp;
                    <a class="text-dark spin-it" asp-page="/Income/Index">
                        Income List
                    </a>
                </div>
                <div class="d-xl-inline-flex ms-xl-5 ms-lg-4 ms-md-3 nav-sub-link me-3 my-2 align-content-center">
                    <i class="bi bi-bank text-dark d-none d-xl-block font-weight-bold icon-size-md"></i>&nbsp;
                    <a class="text-dark spin-it" asp-page="/Sources/Index">
                        Sources
                    </a>
                </div>
                <div class="d-xl-inline-flex ms-xl-5 ms-lg-4 ms-md-3 nav-sub-link me-3 my-2 align-content-center">
                    <i class="bi bi-diagram-3 text-dark d-none d-xl-block font-weight-bold icon-size-md"></i>&nbsp;
                    <a class="text-dark spin-it" asp-page="/Income/Categories/Index">
                        Categories
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav row sidebar-heading align-items-center">
        <div class="col-lg-9 col-md-6 nav-link pb-0">
            <button class="text-primary nav-btn">
                <a asp-page="/Budget/Annual" class="text-primary spin-it">Budget</a>
            </button>
        </div>
        <div class="col-2">
            <button class="text-primary nav-btn">
                <a asp-page="/Budget/Annual">
                    <i class="bi bi-graph-up text-primary d-none d-xl-block icon-size-xl"></i>
                    </a>
            </button>
        </div>
    </div>
    <div class="nav row sidebar-heading align-items-center">
        <div class="col-lg-9 col-md-6 nav-link pb-0">
            <button class="text-primary nav-btn spin-it">
                <a asp-page="/Settings/Index" class="text-primary spin-it">Settings</a>
            </button>
        </div>
        <div class="col-2">
            <button class="text-primary nav-btn" asp-page="/Settings/Index">
                <a asp-page="/Settings/Index">
                    <img height="24" width="24" src="~/images/icons/gear.svg" class="d-none d-xl-block" />
                    @await Html.PartialAsync("Icons", new Icons(){ Icon = Icon.Gear, Height=24, Width=24, Color = IconColors.Primary, Classes="d-none d-xl-block" })
                </a>
            </button>
        </div>
    </div>*@
</nav>
