.sidebar {
    z-index: 0; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 768px) {
    .sidebar {
        top: 5rem;
        padding: 0;
    }
}



.sidebar .nav-link {
    /*font-family: 'Bungee', cursive;*/
    font-weight: 900;
    font-size: calc(100% + .7vw + .7vh);
    user-select: none;
}

.nav-sub-link {
    /*font-family: 'Bungee', cursive;*/
    font-weight: 900;
    font-size: calc(100% + .5vw + .5vh);
    user-select: none;
}

.sidebar-heading {
    font-size: .2rem;
}

.sidebar-heading, a {
    text-decoration: none;
}
