@using CashTrack.Models.ImportCsvModels
@using CashTrack.Models.ImportRuleModels
@model CashTrack.Models.ImportCsvModels.ImportModel
@{

}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-center">
            <h5 class="modal-title w-100">Import Transactions From CSV</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal">
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form method="post" enctype="multipart/form-data"
                      asp-page="/Import/Expenses"
                      asp-page-handler="ImportCsv"
                      id="ImportCsvForm">
                    <input type="hidden" asp-for="@Model.ReturnUrl" />
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-lg-7 mb-1 mb-lg-0">
                            <div>
                                <input asp-for=@Model.File type="file"
                                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                       class="form-control" id="importCsvUploadInput">
                            </div>
                        </div>
                        @if (Model.FileTypes.Count > 0)
                        {
                            <div class="col-auto col-lg-5 align-self-end border rounded py-1">
                                @foreach (var fileType in Model.FileTypes)
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                               id=@($"FileType-ImportTransactions-{fileType}")
                                               asp-for="FileType" value="@(fileType)" checked="@(fileType == Model.FileTypes[0])" />
                                        <label class="form-check-label" asp-for="@Model.FileType">
                                            @fileType
                                        </label>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="col-auto col-lg-5 align-self-end border rounded py-1 text-warning">
                                Go the the Import section of the Settings page and add an Import profile.
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-evenly">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            @if (Model.FileTypes.Count > 0)
            {
                <form>
                    <button type="submit" class="btn btn-primary spin-it" form="ImportCsvForm">Upload</button>
                </form>
            }
            else
            {
                <button type="submit" disabled class="btn btn-primary">Upload</button>
            }
        </div>
    </div>
</div> 