body {
    overflow-x: hidden;
}
td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.validation-summary-errors ul {
    padding-left: 0;
    list-style: none;
}
ul.ui-autocomplete {
    z-index: 1201;
}
.fakeLink {
    border: 0px;
    background-color: transparent;
    color: gray;
    cursor: pointer;
}
.fakelink:hover {
    text-decoration: none;
}
.icon-button {
    background: none;
    padding: 0px;
    border: none;
}
.white-on-disabled:disabled {
    background: transparent !important;
}
.btn-height {
    max-height: 38px;
}

.icon-size-sm {
    font-size: .75rem;
}
.icon-size-md {
    font-size: 1rem;
}
.icon-size-lg {
    font-size: 1.25rem;
}
.icon-size-xl {
    font-size: 1.5rem;
}

.no-hyperlink-underline {
    text-decoration: none;
}

.validation-text {
    color: red;
}

.visibility-hidden {
    visibility: hidden;
}
.display-none {
    display: none;
}
.responsive-text {
    font-size: calc(100% + .05vw + .05vh);
    overflow: hidden;
}



/*CLASSES ON TAG HELPERS ON OTHER PAGES*/
/*THEY NEED TO GO HERE BECAUSE THEY DON'T GET COMPILED*/

/*expenses/index*/
.thirty-days-button {
    max-height: 38px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
#addExpenseDate-error {
    color: red;
}

#addExpenseAmount-error {
    color: red;
}

#addExpenseSubCategory-error {
    color: red;
}
/*layout*/
.sidebar-heading, a {
    text-decoration: none;
}
.logout-button {
    cursor: pointer;
    font-size: 1.8rem;
}