/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.border {
    border-width: 2px !important;
}

.validation-summary-valid {
    display: none;
}

html, body {
    height: 100%;
}

.navbar-brand {
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    padding: 0;
    margin: 0;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

#logoutButton {
    cursor: pointer;
}

.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 100px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
        padding: 0;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    padding-top: 1rem;
}

.sidebar .nav-link {
    font-family: 'Bungee', cursive;
    font-weight: 500;
    font-size: calc(100% + .7vw + .7vh);
    user-select: none;
}

.nav-sub-link {
    font-family: 'Bungee', cursive;
    font-weight: 300;
    font-size: calc(100% + .5vw + .5vh);
    user-select: none;
}
div.nav-sub-link:hover * {
    color: #18bc9c !important;
}

.logo {
    font-family: 'Bungee', cursive;
    font-weight: 500;
    font-size: calc(100% + .5vw + .7vh);
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
}
.responsive-text {
    font-size: calc(100% + .05vw + .05vh);
    overflow: hidden;
}

.orderIcon:hover * {
    color: #18bc9c !important;
}

.sidebar-heading {
    font-size: .2rem;
    text-transform: uppercase;
}

.sidebar-heading, a {
    text-decoration: none;
}

.validation-summary-errors ul {
    padding-left: 0;
    list-style: none;
}

#addExpenseDate-error {
    color: red;
}

#addExpenseAmount-error {
    color: red;
}

#addExpenseSubCategory-error {
    color: red;
}

main {
    height: 100%;
}

body {
    overflow-y: auto; /* Change to hidden to remove scroll bar */
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.ui-autocomplete {
    z-index: 1100;
}

.fakeLink {
    border: 0px;
    background-color: transparent;
    color: gray;
    cursor: pointer;
}

    .fakelink:hover {
        text-decoration: none;
    }

.iconButton {
    background: none;
    padding: 0px;
    border: none;
}

.whiteBackgroundOnDisabled:disabled {
    background: transparent !important;
}

/*Code for the loading spinner */
.lds-spinner {
    color: #95a5a6;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
    }

        .lds-spinner div:after {
            content: " ";
            display: block;
            position: absolute;
            top: 3px;
            left: 37px;
            width: 6px;
            height: 18px;
            border-radius: 20%;
            background: #18bc9c;
        }

        .lds-spinner div:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -1.1s;
        }

        .lds-spinner div:nth-child(2) {
            transform: rotate(30deg);
            animation-delay: -1s;
        }

        .lds-spinner div:nth-child(3) {
            transform: rotate(60deg);
            animation-delay: -0.9s;
        }

        .lds-spinner div:nth-child(4) {
            transform: rotate(90deg);
            animation-delay: -0.8s;
        }

        .lds-spinner div:nth-child(5) {
            transform: rotate(120deg);
            animation-delay: -0.7s;
        }

        .lds-spinner div:nth-child(6) {
            transform: rotate(150deg);
            animation-delay: -0.6s;
        }

        .lds-spinner div:nth-child(7) {
            transform: rotate(180deg);
            animation-delay: -0.5s;
        }

        .lds-spinner div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.4s;
        }

        .lds-spinner div:nth-child(9) {
            transform: rotate(240deg);
            animation-delay: -0.3s;
        }

        .lds-spinner div:nth-child(10) {
            transform: rotate(270deg);
            animation-delay: -0.2s;
        }

        .lds-spinner div:nth-child(11) {
            transform: rotate(300deg);
            animation-delay: -0.1s;
        }

        .lds-spinner div:nth-child(12) {
            transform: rotate(330deg);
            animation-delay: 0s;
        }

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/*end Code for the loading spinner */